body {
    background-color:rgb(37, 37, 37);
    color:aliceblue;
    padding:2rem;
    margin:0;
    font-family: 'Architects Daughter', cursive;
    font-size: 12px;
}
h1 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 2.8rem;
    color: cornflowerblue;
    margin:0;
}
p{
    font-family: 'Times new Roman',cursive;
    font-size:2rem;
    color:chocolate;
}
div{
    font-family: 'Times new roman', cursive;
    font-size: 5rem;
    color:chocolate;
}
ol{
    font-family: 'calibri',cursive;
    font-size: 2rem;
    color:rebeccapurple
}
.hidden{
    display:none;
   }